<html>

<head>
    <title>Login</title>
    <style>
        i {
            font-style: nomal;
            font-size: 13px;
        }
    </style>
</head>

<body>
    <i>{{ message }}</i>
    <script>
        let url = '{{ url }}';
        let timeout = ('{{ status }}' == 1) ? 0 : 1000;
        setTimeout(function () {
            location.href = url;
        }, timeout);
    </script>
</body>

</html>